# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\sirir\Desktop\University\BICS\Semester_6_SS\Bachelor_Semester_Project_6\repos\BSP6-Technical-deliverable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
